@tailwind base;
@tailwind components;
@tailwind utilities;

@layer utilities {
  .no-scrollbar::-webkit-scrollbar {
    display: none;
  }

  .no-scrollbar {
    -ms-overflow-style: none; /* IE and Edge */
    scrollbar-width: none; /* Firefox */
  }
}

.category-link {
  @apply inline-block border-b-[3px] border-primary text-xs font-bold uppercase md:text-xl;
}
.underline-title {
  @apply relative block border-b border-black;
}
.underline-title span {
  @apply -mb-[5px] inline-block border-b-[10px] border-black text-lg font-bold leading-10 lg:text-2xl;
}

.excerpt {
  display: -webkit-box;
  -webkit-line-clamp: 3;
  /* number of lines to show */
  -webkit-box-orient: vertical;
  @apply overflow-hidden text-ellipsis;
}
