.tippy-tooltip.dark-error-theme {
  color: #fff;
  box-shadow: 0 0 20px 4px rgba(154, 161, 177, 0.15),
    0 4px 80px -8px rgba(36, 40, 47, 0.25),
    0 4px 4px -2px rgba(91, 94, 105, 0.15);
  background-color: #0f172a;
  border-radius: 8px;
  padding: 8px 12px;
}

.tippy-tooltip.dark-error-theme .tippy-content::before {
  content: '';
  background-image: url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABgAAAAYCAYAAADgdz34AAAACXBIWXMAAAsTAAALEwEAmpwYAAAAAXNSR0IArs4c6QAAAARnQU1BAACxjwv8YQUAAAJqSURBVHgB3VVBctpQDJV+yEy7SfEN4ASliwykKyeFbkNP0HCC0hNATlBygiQnCN0mUNwVpN2QE5SewLDKdAZ/Vfr2N2Ab4nbXvhnGnm/pPUlfEgD/OnDXR991i2r/8T2RcgGpAgSlyGsGhFOlqH9wO7n+KwH/7VETtb5kkyLsZpgphO42IZV1uKhXP6Gmm4jcQ6I2LaFcHExQfrQMXpGGFmc0k6y0hqtFvdbJ1k+R1zoE0AWgOT/PncF9D3bAPzlqo9IdCQaBei8G9x+3CviN2hkSXBrypT52vO9TyAHfPaxgQY1EhBS+c27HfftNJdRMmibynOQCsSWtzg0H35s0R0pAojddwnV9qiyZIl/G4uOZeys8ntnzQhy9xlNuRVHsJp3njdoPedIeHBvbAEbyLN5Nyut2pOkzKnTZgn/Q28gAFPc5I1DBQyo8Ld5QEmJDLplqSEOjqT0ivIxpV/LhEDl36dpTwJFHLWnLaM4ScLzJbJ1LUIA8eCapGcdVWPu5PNcykPEHablaKWkUlyXMYmbLlbTzG68r4RtN0wIaw8MCNZOO0R2YssTlyroD0EaAAH/ak7hERPorIjYRuJuiDrAoDje7hVHOordztEdwk5HBryuZYH5z/Xq1DX+IxZvqB1vGg+Fq8cUCjjedE1HLRuI3Dit5ycWWMJyf5BxtrApn+K3PIhdmcZEa5clEIhdbs4d4xaxHHwWbEVG91rX1tPs+oODBzoh0mtqnUyKUhnDljN8vnOE4FdD2P5wT3qzIIrgammzw5iXVYvJ+1leEJxAKEe8pVWKyis0KNE3Z2dPB82vH8+bw3+I3f14XxXYtPfsAAAAASUVORK5CYII=');
  width: 34px;
  height: 24px;
  display: block;
  background-size: 24px;
  background-repeat: no-repeat;
  margin-top: 2px;
}

.tippy-tooltip.dark-error-theme .tippy-content {
  display: flex;
  align-items: flex-start;
  gap: 4px;
  text-align: left;
}

.tippy-popper[x-placement^='top'] .dark-error-theme .tippy-arrow {
  bottom: -15px;
  border-right: 7px solid transparent !important;
  border-top-color: #0f172a;
}
.tippy-popper[x-placement^='bottom'] .dark-error-theme .tippy-arrow {
  top: -15px;
  border-right: 7px solid transparent !important;
  border-bottom-color: #0f172a;
}
.tippy-popper[x-placement^='right'] .dark-error-theme .tippy-arrow {
  border-right-color: #0f172a !important;
}
.tippy-popper[x-placement^='left'] .dark-error-theme .tippy-arrow {
  border-left-color: #0f172a !important;
  border-right-color: transparent !important;
  right: -15px;
}

.tippy-tooltip.dark-error-theme .tippy-backdrop {
  background-color: #0f172a !important;
}
.tippy-tooltip.dark-error-theme .tippy-roundarrow {
  fill: #0f172a !important;
}
.tippy-tooltip.dark-error-theme[data-animatefill] {
  background-color: initial;
}

h2 {
  color: #b2f5ea;
  @apply font-semibold;
}
